body,
html {
  padding: 0;
  margin: 0;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.wrap {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.select {
  width: 100%;
}

.rc-select-selection-placeholder,
.rc-select-selection-item {
  text-align: left !important;
}

.bankItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bankItem img {
  max-width: 30px;
}

.mb-24 {
  margin-bottom: 10px;
}

.input-text {
  background-color: #fff;
  border: 1px solid #d9d9d94f;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  height: 32px;
  padding: 0 11px;
  border-radius: 6px;
  width: 100%;
}

label {
  text-align: left;
  display: block;
  margin-bottom: 6px;
  color: #303030;
  font-weight: 600;
}

.qrCode {
  text-align: center;
  max-width: 360px;
  margin: 0 auto 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.qrBorder {
  border: 1px solid rgb(133, 133, 133);
  padding: 10px 10px 5px 10px;
  position: relative;
  border-radius: 6px;
}

.qrBorder canvas {
  position: relative;
  z-index: 1;
}

.imgBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.4;
}

.qrCode p {
  margin: 0;
}

.result.active {
  margin-top: 100vh;
}

button {
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  background-color: rgba(215, 215, 215, 0.85);
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

button:hover {
  background-color: rgba(215, 215, 215);
  transform: translateY(-1px);
}

.bankInfoWrap {
  display: flex;
  gap: 16px;
  margin: 10px 0 0;
  width: 86%;
}

@media (max-width: 576px) {
  .bankInfoWrap {
    width: 100%;
  }
}

.bankInfo {
  flex: 1;
}

.bankImgWrap p {
  margin: 0;
  font-weight: bold;
  font-size: 9px;
}

.bankImg {
  max-width: 40px;
  max-height: 40px;
  display: block;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  margin: auto;
}

.userName,
.accountNumber,
.money,
.note {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  text-align: left;
  line-height: 1;
  margin: 0 0 8px !important;
  font-size: 14px;
  font-weight: 500;
}

.accountNumber {
  font-size: 16px;
  font-weight: 600;
}

.money {
}

.userName img,
.accountNumber img,
.money img,
.note img {
  max-width: 14px;
  max-height: 14px;
  transform: translateY(1px);
}
