#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.wrap {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.select {
  width: 100%;
}

.rc-select-selection-placeholder {
  text-align: left;
}

.bankItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bankItem img {
  max-width: 30px;
}

.mb-24 {
  margin-bottom: 10px;
}

.input-text {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  height: 32px;
  padding: 0 11px;
  border-radius: 6px;
  width: 100%;
}

label {
  text-align: left;
  display: block;
  margin-bottom: 6px;
  color: #303030;
  font-weight: 600;
}

.qrCode {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}

.qrCode p {
  font-weight: 600;
  margin: 10px 0 0;
}

.result.active {
  margin-top: 100vh;
}

button {
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  background-color: rgb(215, 215, 215);
  color: black;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 30px 40px rgb(0, 0, 0, 0.05);
}
